[Unit]
Description=Gunicorn instance to serve zesar
After=network.target

[Service]
User=vagrant
Group=vagrant
WorkingDirectory=/home/vagrant/files/srw.zesar
Environment="PATH=/home/vagrant/.venv34/bin/"
ExecStart=/home/vagrant/.venv34/bin/gunicorn  --paste /home/vagrant/files/production.ini

[Install]
WantedBy=multi-user.target
